---
# Begin front matter (data area)
# ----------------------------------------

# -----------------------------------------
# End front matter (data area)
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta information -->
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta charset='UTF-8' />

    <!-- Stylesheets (CSS) -->
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/css/skeleton.css" type="text/css" />
    <link rel='stylesheet' href='/css/main.css'/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">

    <!-- Page Title -->
    <title>{{ page.title }} - Eric Lajoie</title>
  </head>
  <body>
    <div class="container main-body">
      <!-- Sidebar Start -->
      <div class="main-sidebar">
        <div class="main-sidebar-inner">

        {% for sidebarSection in site.data.sidebar %}
          <div class="sidebar-section">
            <h3>
              {% if sidebarSection.url %}<a href="{{ sidebarSection.url }}">{% endif %}
              {{ sidebarSection.title }}
              {% if sidebarSection.url %}</a>{% endif %}
            </h3>
          {% if sidebarSection.items %}
            <!-- Section link list: one for each item in the section items -->
            <ul class="projects-list sidebar-list">
              {% for item in sidebarSection.items %}
                <!-- List item -->
                <li class="sidebar-item {% if page.url == item.url %}active{% endif %}">
                  <!-- Link for list item -->
                  <a href="{{ item.url }}">
                    <span class="sidebar-item-title">
                      <span class="sidebar-item-title-inner">
                        <!-- Link inner contents -->
                        {{ item.title }}
                      </span>
                    </span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>

        {% endfor %}
          <!-- Bottom of Sidebar -->
        </div>
      </div>
      <!-- End Sidebar -->


      <!-- Main Content Area Start -->
      <div class="main-content">
        {{ content }}
      </div>
      <!-- Main Content Area End -->
    </div>



    <!-- Include javascript -->
    <script src="/js/main.js"></script>
    <style>
    /* make sure images are visible *AFTER* running the js.
       Important to do this after the JS, but in CSS so that even if JS
       is disabled, the images are visible. After the JS so they are
       properly sized before being shown.
     */
    .main-content img {
      visibility: visible;
    }
    </style>

  </body>
</html>
