---
# Begin front matter (data area)
# ----------------------------------------
layout: default

# -----------------------------------------
# End front matter (data area)
---

<h1>{{ page.title }}</h1>

<div class="project-landing">
{% for image in page.landing %}
  <figure>
    <img src="landing/{{ image.filename }}">
    <figcaption>{{ image.caption}}</figcaption>
  </figure>
{% endfor %}
</div>

{{ content }}

<div class="project-images">
{% for image in page.images %}
  <figure>
    <img src="images/{{ image.filename }}">
    <figcaption>{{ image.caption}}</figcaption>
  </figure>
{% endfor %}
</div>
